*{
    margin: 0;
    box-sizing:  border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}
.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px ;
    transition: transform 450ms;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__poster:hover{
    transform: scale(1.2);
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
}
.row {
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
/* phong nen chinh */
.banner{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/ddd4085b-8ed5-416a-9b80-5085784ba0e9/d725cd1a-d850-45e8-9595-f4a314e6bdb2/VN-vi-20211206-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    object-fit: contain;
    height: 448px;

}

.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}
.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
.banner__button{
    cursor: pointer;
    color: white;
    outline: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: right 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
}
/* hieu ung nut */
.banner__button{
    color: rgb(245, 245, 245);
    background-color:rgb(216, 7, 7) ;
    transition: all 0.2s;

}

.banner--fadeBottom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61),black);
}
/* logo */
.nav__logo{
    width: 100px;
    object-fit: contain;

}
.nav__avata{
    width: 30px;
    object-fit: contain;

}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}
/* mau nav bar */
.nav__black{
    width: 100%;
    height: auto;
    background-color:rgb(184, 196, 184) ;

}
