.phan2{
    background-color: black;
} 
.doan1{
    font-size: 3.125rem;
    line-height: 1.1;
    /*margin-bottom: 0.5rem; /*khoảng cách dòng*/
    color: white;
    
}
.doan2{
    font-size: 1.625rem;
    font-weight: 400;
    color: white;
    margin-top: 0.75em;
}
.img{
    max-width: 100%;
    height: auto;
    border: 0;
}
.button{
    font-size: small;
}
/*.cta-btn-txtk:hover a:hover{
    color:rgb(160, 161, 163);
}*/
.link1 a:hover{
    color: gray;
}
.cta-btn-txt{
    font-size: 1.625rem;
    font-weight: 400;
}
